body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
    background-image:url("./pics/Boxpic.png ");
    background-repeat:no-repeat ;
 background-position: center;
       background-color:lavender;
       height: 100%;
      backdrop-filter: blur(25px); 
      width: 100%;
      
 }
 img{
   margin: auto;
   height: 200px;
   width: 200px;
   margin-left: 560px;
   margin-top: 10px;
 }

 #readit{
     background-size:cover;
     color:Blue;
     text-align:center;
     font-size:25px;
 }
 h1{
     color:Blue;
     text-align:center;
 }
 #round{
 color:Blue;
 padding:20px;
 font-size:15px;
 text-align:center ;
 outline: none;
 border: none;
 }
 
 label{
     color:blue;
     font-size:30px;
     text-align:center;
 }
 p{
 color:Navy;
 text-align:center;
 font-size: larger;
 font-weight: bolder;
 
 }


 #for-image{
   margin: auto;
   
 }

 #btn{
   color: white;
   background-color: blue;
   height: 40px;
   margin-left: 570px;
 }

 #Btnclick{
   color: white;
   background-color: blue;
   height: 40px;
   margin-left: 20px;
 }


 #fight{
   text-align: center;
    
 }

 .clickers{
   display: flex;
    align-content: center;
    margin-top: 40px;
 }


 @media screen and (max-width:416px) {
    #fight{
        position:relative;
        right: 30px;
     }
     .clickers{
        position: relative;
        right:480px;
     }

     #for-image{
      border: 2px purple;
   
     }

     img{
      
      height: 150px;
      width: 200px;
      margin-left: 60px;
      
    }
      
     
    
 }
 