body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
  height: 100vh;
  width: auto;
  background-color:lavender;
 }


 .container{
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1rem;
     background-color:lavender;
     height: 100%;
    backdrop-filter: blur(1.5rem); 
    width: 90%;  
    margin: auto;  
    border:1px solid blue ; 
    box-shadow:2px 2px 2px gainsboro;
 }


 header{
      width:100%;
      display: flex;
      flex-direction: column;
      background-color: salmon;
 }


 #main_img{
  height: 20%;
  width: 20%;
  margin: auto;
 }


 main{
     height:90%;
     width: 90%; 
     display: flex;  
     flex-direction: column;
     margin: auto;  
     gap: 1rem;
     background-image:url("./pics/Boxpic.png ");
     background-repeat:no-repeat ;
     background-position:right;
 }


 #readit{
     background-size:cover;
     color:Blue;
     text-align:center;
     font-size:1.5em;
 }
 h1{
     color:Blue;
     text-align:center;
     width: 100%;
     margin: auto;
 }
 #round{
 color:Blue;
 background-color: lavender;
 padding:1.25rem;
 font-size:1.5em;
 text-align:center ;
  outline: none;
 border:1px solid cornflowerblue;
 width:50% ;
 margin: auto;
 }
 
 label{
     color:blue;
     font-size:1.8em;
     text-align:center;
 }


 footer{
width: 100%;
 font-size: larger;
 font-weight: bolder;
 position: sticky;
 bottom: 0;
 background-color: cornflowerblue;
 text-align: center;
 }

 p{
  background-color: cornflowerblue;
  color: white;
  width: 100%;
 }

 #btn{
   color: white;
   background-color: blue;
   padding: 1rem; 
   margin-right:1rem ; 
 }

 #Btnclick{
   color: white;
   background-color: blue;
   padding: 1rem;
 }

 #fight{
  display: flex;
   flex-direction: column;
   justify-content: center;
    width: 100%;
    margin: auto;
 }

 audio:not([controls]) {
  display: none !important;
}
 .clickers{
   display: flex;
    justify-content:center;
    margin:auto;
    width: 60%;
 }


 @media screen and (max-width:515px) {

  #main_img{
    width: 40%;
    margin: auto;
   }
  
  
 }